<%= simple_form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Cedula</label>
    <%= f.text_field :cedula %>
  </div>

  <div class="field">
    <label>Nombre</label>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <label>Apellido</label>
    <%= f.text_field :apellido %>
  </div>

  <div class="field">
    <%= f.label :fecha_nac %>
    <%= f.date_select :fecha_nac %>
  </div>

  <div class="field">
    <label>Genero</label>
    <%= f.input :genero, :collection => ['M','F'], :include_blank => "Seleccionar" %>
  </div>

  <div class="field">
  <label>Colegio</label>
    <%= f.association :school,label: false, label_method: :nombre, value_method: :id, :include_blank => "Seleccionar" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
