
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Editar Estudiantes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
