<p id="notice"><%= notice %></p>


<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Estudiantes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr class="text-align center">
                    <th><center>Cedula</center></th>
                    <th><center>Nombre</center></th>
                    <th><center>Apellido</center></th>
                    <th><center>Fecha Nacimiento</center></th>
                    <th><center>Genero</center></th>
                    <th><center>Colegio</center></th>
                    <th colspan="3"><center>Acción</center></th>
                  </tr>
                </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.cedula %></td>
        <td><%= student.nombre %></td>
        <td><%= student.apellido %></td>
        <td><%= student.fecha_nac %></td>
        <td><%= student.genero %></td>
        <!--Accedo al atributo nombre de la escuela del estudiante-->
        <td><%= student.school.nombre %></td>
        <td><%= link_to student do%>
                            <center><i class="fa fa-eye fa-md"></i></center>
                          <%end%>
                      </td>
                      <td><%= link_to edit_student_path(student) do%>
                           <center><i class="fa fa-pencil fa-md"></i></center>
                          <%end%>
                      </td>
                      <td><%= link_to student, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                            <center><i class="fa fa-trash fa-md"></i></center>
                          <%end%>
                      </td>
                    </tr>
                  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
