<p id="notice"><%= notice %></p>


<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Estudiantes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<p>
  <strong>Cedula: </strong>student.cedula </p>
<p>  <%= @student.cedula %>
</p>

<p>
  <strong>Nombre: </strong> student.nombre </p>
<p>  <%= @student.nombre %>
</p>

<p>
  <strong>Apellido: </strong> student.apellido </p>
<p>  <%= @student.apellido %>
</p>

<p>
  <strong>Fecha Nacimiento: </strong> student.fecha_nac </p>
<p>  <%= @student.fecha_nac %>
</p>

<p>
  <strong>Genero: </strong> student.genero </p>
<p>  <%= @student.genero %>
</p>

<p>
  <strong>Nombre del colegio: </strong> student.school.nombre </p>
  <!--Accedo al atributo nombre de la escuela del estudiante-->
 <p> <%= @student.school.nombre %>
</p>
<p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</p>

<p>
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Materias</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<p><strong>Para la tabla: </strong>@materias=StudentSubject.where(:student_id => @student.id)</p>
    
<p>
  <strong>Promedio global:</strong> @promedio = @materias.average(:nota) </p>
  <!--Accedo al atributo nombre de la escuela del estudiante-->
<p>  <%= @promedio %>
</p>
</p>
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr class="text-align center">
                    <th><center>Nombre</center></th>
                    <th><center>Fecha Inscripcion</center></th>
                    <th><center>Nota</center></th>
                  </tr>
                </thead>

  <tbody>
    <% @materias.each do |mat| %>
      <tr>
        <td><%= mat.subject.nombre %></td>
        <td><%= mat.created_at %></td>
        <td><%= mat.nota %></td>
      </tr>
    <%end%>
  </tbody>
</table>



