<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Bienvenido</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<p><strong>schools: </strong>colegios</p>
<p><strong>students: </strong>estudiantes</p>
<p><strong>student_subjects: </strong>inscripcion</p>
<p><strong>subject: </strong>materia</p>
<img src="<%= asset_path( 'ERexpo.png' ) %>" />
