<%= simple_form_for(student_subject) do |f| %>
  <% if student_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_subject.errors.count, "error") %> prohibited this student_subject from being saved:</h2>

      <ul>
      <% student_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nota %>
    <%= f.text_field :nota %>
  </div>

  <div class="field">
  <label>Estudiante</label>
    <%= f.association :student,label: false , value_method: :id, :include_blank => "Seleccionar" %>
  </div>

  <div class="field">
  <label>Materia</label>
    <%= f.association :subject,label: false, label_method: :nombre, value_method: :id, :include_blank => "Seleccionar" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
