<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Actualizar Inscripcion</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= render 'form', student_subject: @student_subject %>

<%= link_to 'Show', @student_subject %> |
<%= link_to 'Back', student_subjects_path %>
