<p id="notice"><%= notice %></p>

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Inscripciones</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr class="text-align center">
                    <th><center>Materia</center></th>
                    <th><center>Colegio</center></th>
                    <th><center>Cedula Estudiante</center></th>
                    <th><center>Nombre Estudiante</center></th>
                    <th><center>Nota</center></th>
                    <th colspan="3"><center>Acción</center></th>
                  </tr>
                </thead>

  <tbody>
    <% @student_subjects.each do |student_subject| %>
      <tr>
        
        
        <td><%= student_subject.subject.nombre %></td>
        <td><%= student_subject.student.school.nombre %></td>
        <td><%= student_subject.student.cedula %></td>
        <td><%= student_subject.student.nombre+' '+student_subject.student.apellido %></td>
        <td> <%= student_subject.nota %></td>
                <td><%= link_to student_subject do%>
                            <center><i class="fa fa-eye fa-md"></i></center>
                          <%end%>
                      </td>
                      <td><%= link_to edit_student_subject_path(student_subject) do%>
                           <center><i class="fa fa-pencil fa-md"></i></center>
                          <%end%>
                      </td>
                      <td><%= link_to student_subject, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                            <center><i class="fa fa-trash fa-md"></i></center>
                          <%end%>
                      </td>
                    </tr>
                  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inscribir', new_student_subject_path %>
