<p id="notice"><%= notice %></p>
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Inscripciones</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<p>
  <strong>Nota:</strong>
  <%= @student_subject.nota %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_subject.student.to_label %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @student_subject.subject.nombre %>
</p>

<%= link_to 'Edit', edit_student_subject_path(@student_subject) %> |
<%= link_to 'Back', student_subjects_path %>
