<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Nueva Materia</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<%= render 'form', subject: @subject %>

<%= link_to 'Back', subjects_path %>
