<p id="notice"><%= notice %></p>

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Materias</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<p>
  <strong>Nombre:</strong> @subject.nombre </p>
<p>  <%= @subject.nombre %>
</p>
<p>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
</p>
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Estudiantes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<p>
  <strong>Para la tabla :</strong> @estudiantes=StudentSubject.where(:subject_id => @subject.id)</p>
<p>  <%= @promedio %>
</p>
<p>
  <strong>Total estudiantes:</strong> @estudiantes.count</p>
<p>  <%= @total_estudiantes %>
</p>
<p>
  <strong>Promedio global:</strong> @estudiantes.average(:nota)</p>
<p>  <%= @promedio %>
</p>
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr class="text-align center">
                  <th><center>Colegio</center></th>
                    <th><center>Cedula</center></th>
                    <th><center>Nombre</center></th>
                    <th><center>Apellido</center></th>
                    <th><center>Fecha Nacimiento</center></th>
                    <th><center>Genero</center></th>
                    <th><center>Nota</center></th>
                  </tr>
                </thead>
  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
      	<td><%= estudiante.student.school.nombre %></td>
        <td><%= estudiante.student.cedula %></td>
        <td><%= estudiante.student.nombre %></td>
        <td><%= estudiante.student.apellido %></td>
        <td><%= estudiante.student.fecha_nac %></td>
        <td><%= estudiante.student.genero %></td>
        <td><%= estudiante.nota %></td>
        </tr> 
        <%end%>       
  </tbody>
</table>


