
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Editar Colegio</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<%= render 'form', school: @school %>

<%= link_to 'Show', @school %> |
<%= link_to 'Back', schools_path %>
