<p id="notice"><%= notice %></p>


<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Colegios</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr class="text-align center">
                    <th><center>Nombre</center></th>
                    <th><center>Direccion</center></th>
                    <th colspan="3"><center>Acción</center></th>
                  </tr>
                </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.nombre %></td>
        <td><%= school.direccion %></td>
        <td><%= link_to school do%>
                            <center><i class="fa fa-eye fa-md"></i></center>
                          <%end%>
                      </td>
                      <td><%= link_to edit_school_path(school) do%>
                           <center><i class="fa fa-pencil fa-md"></i></center>
                          <%end%>
                      </td>
                      <td><%= link_to school, method: :delete, data: { confirm: 'Are you sure?' }  do%>
                            <center><i class="fa fa-trash fa-md"></i></center>
                          <%end%>
                      </td>
                    </tr>
                  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
