<p id="notice"><%= notice %></p>


<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Colegios</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<p>
  <strong>Nombre:</strong> @school.nombre</p>
<p>  <%= @school.nombre %>
</p>

<p>
  <strong>Direccion:</strong> @school.direccion</p>
<p>  <%= @school.direccion %>
</p>
<p>
<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
</p>

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Estudiantes</h1> 
  </div>
  <!-- /.col-lg-12 -->
</div>
<p>
  <strong>Para la tabla</strong></p>
<p>@estudiantes=Student.where(:school_id => @school.id)</p>

<p>
  <strong>Total de estudiantes:</strong> @estudiantes.count</p>
<p>  <%= @num_total %>
</p>

<p>
  <strong>Total de estudiantes masculinos:</strong>  @estudiantes.where(:genero => "M").count </p>
  <p><%= @num_total_m %></p>


<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr class="text-align center">
                    <th><center>Cedula</center></th>
                    <th><center>Nombre</center></th>
                    <th><center>Apellido</center></th>
                    <th><center>Fecha Nacimiento</center></th>
                    <th><center>Genero</center></th>
                  </tr>
                </thead>
  <tbody>
    <% @estudiantes.each do |student| %>
      <tr>
        <td><%= student.cedula %></td>
        <td><%= student.nombre %></td>
        <td><%= student.apellido %></td>
        <td><%= student.fecha_nac %></td>
        <td><%= student.genero %></td>
        </tr> 
        <%end%>       
  </tbody>
</table>

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Materias </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<p>
  <strong>Para la tabla</strong></p>
<p> @id_materias=StudentSubject.select(:subject_id).joins(:student).where(
      :students => {:school_id => @school.id}) </p>
   <p> @materias_impartidas=Subject.where(:id => @id_materias)</p>

<p>
  <strong>Para el promedio</strong> StudentSubject.where(:subject_id => materia.id).average(:nota)</p>
<p>  <%= @num_total %>
</p>

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr class="text-align center">
                    <th><center>Nombre</center></th>
                    <th><center>Promedio de notas</center></th>
                  </tr>
                </thead>
  <tbody>
    <% @materias_impartidas.each do |materia| %>
      <tr>
        <td><%= materia.nombre %></td>
        <td><%= StudentSubject.where(:subject_id => materia.id).average(:nota) %></td>
        </tr> 
        <%end%>       
  </tbody>
</table>


