@import "bootstrap-sprockets";
@import "bootstrap.min.css";
@import "vendor/metisMenu/metisMenu.min.css";
@import "dist/css/sb-admin-2.css";
@import "vendor/morrisjs/morris.css";
@import "font-awesome";
@import "vendor/datatables-plugins/dataTables.bootstrap.css";
@import "vendor/datatables-responsive/dataTables.responsive.css";
@import "vendor/font-awesome/css/font-awesome.min.css";

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    	border-bottom: 1px solid #eee;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 238, 238);
}